@import url(https://fonts.googleapis.com/css?family=Fjalla+One:400|Roboto:400,400italic,700);

body {
  background-color: #988ff0;
}

.board {
  width: 315px;
  border-radius: 10px;
  box-shadow: 0 0 10px #201d1c;
  margin: auto;
  margin-top: 40px;
  background: #f586ca;
  padding: 2px;
}

.men-pav {
  font: 20px "Roboto";
  font-weight: bold;
  color: black;
  display: block;
  margin: 10px 0 10px 0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

.board span {
  font: 20px "Roboto";
  text-align: center;
  width: 40px;
  height: 30px;
  display: inline-block;
  overflow: hidden;
  line-height: 40px;
}
button {
  background: #f586ca;
  border: 0px solid #201d1c;
  border-radius: 10px;
  box-shadow: 0 0 6px #201d1c;
  margin-left: 5px;
  margin-bottom: 8px;
  min-width: 35px;
  min-height: 35px;
  font-size: 1.05em;
  font-weight: bold;
}
button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.free {
  background: #f586ca;
}
.work {
  background: #78f711;
}
.workDay {
  background: #c2c2c5;
}
.weekend {
  background: #c2c2c5;
}
.today {
  box-shadow: 0 0 6px white;
  color: white;
}

/* span[data-title]:hover:after,
div[data-title]:hover:after {
  font: 11px "Roboto";
  font-weight: 400;
  content: attr(data-title);
  position: absolute;
  margin:0 0 100px;
  background: #5c11a3;
  color: #f7f3eb;
  padding: 5px;
  z-index: 9999;
  min-width: 30px;
  max-width: 50px;
}*/
